* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: linear-gradient(to right, #ffaaaa, #ffd586);
  font-family: "dancing script";
}

main {
  height: 100vh - 50px;
}

form {
  border-radius: 10px;
  height: 76.8vh;
  margin: 0 auto;
  background-color: #ffe99ad0;
  padding-top: 15px;
  max-width: 600px;
  min-width: 300px;
}

.genre-container {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  padding-right: 183px;
}

.genre-container label {
  padding-right: 105px;
  margin-bottom: 10px;
}

.genre-container select {
  width: 200px;
}

.message-container {
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
  width: 100%;
  max-width: 384px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px 0 0 10px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  padding-right: 248px;
  margin-bottom: 5px;
}

.generate-container {
  display: flex;
  justify-content: center;
  padding-right: 315px;
}

.result-container {
  width: 500px;
  margin: 0 auto;
  margin-top: -5px;
}

p {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  height: 234px;
}

@media (max-width: 600px) {
  html,
  body {
    overflow: hidden;
  }

  form {
    max-width: 350px;
  }

  .genre-container label {
    margin-left: -110px;
    padding-right: 0px;
  }
  .genre-container {
    margin-left: 70px;
  }

  textarea {
    width: 310px;
  }

  .checkbox-container {
    margin-left: 10px;
    padding-right: 190px;
  }
  .generate-container button {
    margin-left: 60px;
  }

  .result-container p {
    max-width: 340px;
    padding: 0 10px;
  }
}
